<h1> Welcome to Message Board </h1>

<p>I hope you enjoy exploring the message board.</p>

<ul>
  {{#each model as |question|}}
    <li class="list-group-item"> {{question.question}} by {{question.author}} | {{question.date}}</li>
  {{/each}}
</ul>

{{add-question sentFromNewQuestionComponent="saveAtIndexRoute"}}

<hr>
{{#link-to 'about'}}About{{/link-to}} |
{{#link-to 'contact'}}Click here to contact us.{{/link-to}} |
